target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.idea/
/springCrafter.iml
/spring-step-03/spring-step-03.iml
/spring-step-02/spring-step-02.iml
/spring-step-01/spring-step-01.iml
